body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

#main_div {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

#right_div {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 680px;
    overflow-y: auto;
}

#map {
    width: 680px;
    height: 680px;
    image-rendering: pixelated;
    border: 4px solid black;
}

#search_div {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
}

#search, #results, #mons {
    width: 300px;
    border: 2px solid black;
    box-sizing: border-box;
}

#results, #mons {
    text-align: center;
}

#results {
    height: 100px;
}

#title_div {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    width: 100%;
    height: 60px;
    margin: 4px 0px 4px 0px;

    border: 2px solid black;
    border-radius: 15px;
}

#title_div > h2 {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

#sprite {
    width: 48px;
    height: 48px;
}

p {
    margin: 0px;
    user-select: none;
    font-size: 14px;
}
